.select-buttons{
    div{
        svg{
            color: white
        }
    }
    width: 220px !important;
    height: 50px !important;
}

.search{
    width: 339px !important;
    height: 50px !important;
}

.text-field{
    background-color: #181828;
    border-radius: 30px;
}

.activity-filters{
    margin-top: 2.5rem;
}