@use "../../styles/colors";

.profile-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 120px;
    margin: auto;
    margin-bottom: 8rem;
}

.user-name{
    font-weight: 800 !important;
    font-size: 48px !important;
    padding-top: 15px;
    padding-bottom: 20px;
}

.user-info {
    font-size: 14px !important;
    line-height: 24px !important;
    text-align: center !important;
    color: colors.$text_secondary;
}

@media screen and (max-width: 1350px) and (min-width: 600px) {
    .user-info{
        font-size: 18px !important;
        padding-top: 40px;
        padding-bottom: 40px;
   }
}
  
@media screen and (max-width: 600px) {
   .user-name{
       font-size: 32px !important;
   }
   .user-info{
        width: 260px !important;
        font-size: 18px !important;
        padding-top: 30px;
        padding-bottom: 30px;
   }
}