$primary_main: #4e24f2;
$secondary_main: #24f25e;
$warning_main: #ffc120;
$info_main: #21f396;
$success_main: #1bde51;
$error_main: #ff4b2f;
$background_default: #0c0c14;
$background_paper: #181828;
$text_primary: #ffffff;
$text_secondary: #e1e1fc;
$text_disabled: #8d8da8;
$text_hint: #e1e1fc;
