@use "../../styles/colors";

.card{
    max-width: 21.875rem;
    border-radius: 0.9375rem !important;
}

.card_live{
    background-color: #1a2e2d !important;
}

.card_image{
    padding: 0.625rem 0.9375rem;
    position: relative;
}

.live_icon{
    position: absolute;
    padding: 0.625rem 0.625rem;
    color: colors.$secondary_main;
}

.live_border{
    position: absolute;
    padding: 0 0.9375rem 0.625rem 0.9375rem;
    bottom: 0;
    width: 91%;
    background-color: colors.$secondary_main;
    color: black;
    height: 45px;
    border-bottom-right-radius: 1.06rem;
    border-bottom-left-radius: 1.06rem;
    text-align: center;
    line-height: 3.125rem; 
    font-weight: 900;
}

.badge{
    border-radius: 1.06rem;
}

.svg_icon{
    border-radius: 1.06rem;
    height: 1.875rem !important;
    width: 1.875rem !important;
}

.media{
    height: 18.75rem;
}

.cardAction{
    display: flex;
    flex-direction: column;
    padding-left: 0.5rem;
    line-height: 1.5;
}

.title{
    font-size: 1.375rem;
    font-weight: 900;
}

.price{
    font-size: 1rem;
    color: colors.$secondary_main;
    font-weight: 700;
}

.likes{
    margin-left: auto;
    border: 2px solid !important;
    color: colors.$secondary_main !important; 
    background-color: #1a2e2d !important;
    height: 2.3125rem !important;
    border-radius: 1.25rem !important;
    font-size: 1rem !important;
    font-weight: 600;
}

.icon{
    color: colors.$secondary_main !important; 
    font-size: 1rem !important;
    margin-left: 0.625rem !important;
    margin-right: -0.5rem !important;
}

.chip_live{
    margin-left: auto;
    border: 2px solid !important;
    color: black !important;
    background-color: colors.$secondary_main !important; 
    height: 2.3125rem !important;
    border-radius: 10px !important;
    font-size: 1rem !important;
    font-weight: 600;
}

.live_icon_style{
    color: black !important; 
    font-size: 1rem !important;
    margin-left: 0.625rem !important;
    margin-right: -0.5rem !important;
}