.product-info-title{
    width: 398px;
    height: 73px;
}

.h1-style{
    display: inline-block !important;
    font-style: normal !important;
    font-weight: 900 !important;
    line-height: 73px !important;
    text-align: center !important;
}