@use "../../styles/colors";

.title{
    background-color: #21DB57;
    height: 2.5rem;
    margin: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-left: 1.5625rem;
    padding-top: 0.5rem;
    font-size: 15px;
    text-align: center;
    color: black;
    font-weight: 600;
}

.product-info-timer{
    left: 75.52%;
    right: 13.12%;
    top: 27.95%;
    bottom: 62.66%;
    border-radius: 15px;
    width: 14rem;
    height: 7.5rem;
    background-color: colors.$background_paper;
}

.active{
    background-color: colors.$secondary_main;
}

.timer{
    padding-left: 1.5625rem;
    padding-top: 0.9375rem;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: 900;
}