.product-info-title{
    width: 398px;
    height: 73px;
    left: 1093px;
    top: 176px;
    margin-bottom: 30px;
}

.h1-style{
    display: inline-block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
}