@use "../../styles/colors";

.product-actions{
    max-width: 625px;
}

.button{
    background-color: colors.$primary_main !important;
    width: 330px;
    height: 60px;
}

.button-bid{
    background-color: inherit !important;
    width: inherit !important;
}

.button-disabled{
    color:  colors.$text_disabled !important;
    background-color: #292931 !important;
}

.button-disabled-bid{
    color:  colors.$text_disabled !important;
    border: 2px solid #292931 !important;
}

@media screen and (max-width: 1350px) and (min-width: 600px) {
    .button-bid{
        width: 330px !important;
    }

    .container{
        height: 150px;
        align-items: center;
    }
}
  
@media screen and (max-width: 600px) {
    .button-bid{
        width: 330px !important;
    }

    .container{
        height: 150px;
        align-items: center;
    }
}