@use "../../styles/colors";

.product-actions{
    position: absolute;
    width: 625px;
    left: 1090px;
    top: 930px;
}

.button{
    background-color: colors.$primary_main !important;
    width: 330px;
    height: 60px;
}

.button-bid{
    background-color: inherit !important;
    width: inherit !important;
}

.button-disabled{
    color:  colors.$text_disabled !important;
    background-color: #292931 !important;
}

.button-disabled-bid{
    color:  colors.$text_disabled !important;
    border: 2px solid #292931 !important;
}