@use "../../styles/colors";

.user{
    display: inline-flex;
    align-items: center;
}

.name{
    color: colors.$text_primary;
    margin: 0rem;
    font-size: 1rem;
    font-weight: bold;
    display: inline;
}

.info {
    color: colors.$success_main;
    margin: 0rem;
    font-size: 0.85rem;
    font-weight: bold;
    display: inline;
}

.metaInfo {
    float: right;
    display: flex;
    flex-direction: column;
    padding-left: 0.7rem;
}

