.image{
    border-radius: 15px;
    width: 43.6875rem;
    height: 46.875rem;
}

.product-image{
    position: absolute;
    width: 43.6875rem;
    height: 62.5rem;
    left: 251px;
    top: 176px;
}