.product-info-title{
    max-width: 398px;
    height: 73px;
}

.h1-style{
    display: inline-block !important;
    font-style: normal !important;
    font-weight: 900 !important;
    line-height: 73px !important;
    text-align: center !important;
    font-size: 25px !important;
}

@media screen and (max-width: 600px) {
    .h1-style{
        font-size: 24px !important;
    }
}