.image{
    border-radius: 15px;
    max-width: 50rem;
    height: 46.875rem;
}

.image:hover{
    border: 2px solid purple;
    transform: scale(0.9); 
    cursor: pointer;
}

.product-image{
    width: 50rem;
    height: 46.875rem;
}

@media screen and (max-width: 1350px) and (min-width: 600px) {
    .image{
        width: 612px;
        height: 300px;
    }

    .product-image{
        width: 612px;
        height: 300px;
    }
}
  
@media screen and (max-width: 600px) {
    .image{
        width: 312px;
        height: 300px;
    }

    .product-image{
        width: 312px;
        height: 300px;
    }
}