@use "../../styles/colors";

.container{
    margin-bottom: 5rem;
}
.grid_wrapper{
    grid-template-columns: repeat(6, 1fr) !important;
}

.grid_image{
    border-radius: 15px;
}

.grid_image:hover{
   border: 2px solid purple;
   transform: scale(0.9); 
   cursor: pointer;
}

@media  screen and (max-width: 1350px) {
    .container{
        width: 90% !important;
    }
    .grid_wrapper{
        grid-template-columns: repeat(3, 1fr) !important;
    }
}