@use "../../styles/colors";

.grid_wrapper{
    grid-template-columns: repeat(6, 1fr) !important;
    width: 95.625rem;
}

.grid_first_image{
    grid-column-end: span 3 !important; 
    grid-row-end: span 2 !important;
}

.grid_image{
    border-radius: 15px;
}