@use "../../styles/colors";

.wrapper {
  padding: 100px;
  background-color: colors.$primary_main;
}

.container {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.paper {
  max-width: 350px;
  width: 100%;
  font-size: 10rem;
  position: relative;
  top: 180px;
  text-align: center;
}
