@use "../../styles/colors";

.container{
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  height: 5.5rem;
}

.logoContainer{
  display: flex;
}


.inputBase {
  background-color: colors.$background_default;
  border: 2px solid colors.$background_default;
  margin-right: 13.75rem;
  border-radius: 25px;
  font-size: 0.8rem;
  width: 63ch;
  height: 2.7rem;
  margin: 0;
}

.nav {
  background-color: colors.$background_paper;
  margin-bottom: 5rem;
}

.wrapper {
  max-width: 1450px;
  margin: 0 auto;
}

@media screen and (max-width: 1350px) {
  .container{
    height: 240px;
    justify-content: center;
    flex-direction: column !important;
    justify-content: space-evenly;
  }
  .nav{
    .wrapper{
      height: 240px;
    }
    height: 240px;
  }
}

@media screen and (max-width: 600px) {
  .input{
    width: 300px;
  }
  .inputBase{
    width: 300px;
  }
  .buttons{
    width: 340px;
  }
  
}



