.select-buttons{
    div{
        svg{
            color: white
        }
    }
    width: 220px !important;
    height: 50px !important;
}

.search{
    width: 339px !important;
    height: 50px !important;
}

.text-field{
    background-color: #181828;
    border-radius: 30px;
}

.explore-filters{
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 1350px) and (min-width: 600px) {
    .search{
        width: 90% !important;
    }
    .explore-filters{
        padding-top: 50px;
    }
}
  
@media screen and (max-width: 600px) {
    .stack{
        flex-direction: column !important;
    }
    .select-buttons{
        width: 90% !important;
        margin-bottom: 20px !important;
    }
    .search{
        width: 90% !important;
    }
    .explore-filters{
        padding-top: 50px;
    }
}