@use "../../styles/colors";

.foot {
    margin-top: 5rem;
    background-color: colors.$background_paper;
    width: 100%;
}

.container{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    height: 5.5rem;
}

.paraStyle{
    color: colors.$text_disabled;
    margin-left: 3.75rem;
}

.logoContainer{
    display: flex;
}

.wrapper{
    max-width: 1450px;
    margin: 0 auto;
}

@media screen and (max-width: 1350px){
    .container{
      height: 140px;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .paraStyle{
        width: 110px;
    }
}
