@use "../../styles/colors";

.wrapper {
    background-color: colors.$primary_main;
    margin-bottom: 5rem;
    max-height: 36.5625rem;
}

.how_content{
  align-items: center;
  justify-content: space-around;
}

.how_it_works{
  display: inline-block;
}

.container{
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  max-width: 30.625rem !important;
}

.title{
  font-weight: 900;
  font-size: 3.4375rem;
  margin: 0;
}

.description{
  margin: 1.25rem 0px 3.4375rem 0px;
  opacity: 0.8;
}

.learn_button > a{
  color: colors.$primary_main;
  background-color: white;
  font-weight: 800;
  line-height: 2.6;
  border-radius: 70px;
  width: 21ch;
}

.step_component{
  display: flex;
  flex-direction: column;
  height: 40.625rem;
  max-width: 580px;
  justify-content: space-between;
}

@media screen and (max-width: 1350px) and (min-width: 600px) {
  .wrapper{
    max-height: 105%;
  }
  .container{
    align-items: baseline;
    .title{
      width: 230px;
    }
    .description{
      width: 260px;
    }
    
  }

  .how_it_works{
    margin-bottom: 2rem;
  }

  .step_component{
    align-items: center;
  }
  .step_component{
    align-items: center;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper{
    max-height: 100%;
  }
  .container{
    align-items: baseline;
    .title{
      width: 230px;
    }
    .description{
      width: 260px;
    }
    
  }

  .how_it_works{
    margin-bottom: 2rem;
  }

  .step_component{
    align-items: center;
    padding-bottom: 25px;
  }
}
