@use "../../styles/colors";

.container{
    display: flex;
    background-color: #181828;
    border-radius: 25px;
    max-width: 35.625rem;
    height: 12.5rem;
    margin: -1.875rem 0 1.875rem 0;
    transition: margin-right 2s;
}

.container:hover{
    margin-right: 150px;
}
.number{
    width: 180px;
    background-color: rgba(colors.$primary_main, 10%);
    margin: 0;
    text-align: center;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.number_h1{
    margin: 0;
    font-weight: 700;
    font-size: 6.25rem;
}

.meta_info{
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    max-width: 18.75rem;
    margin: 0 auto;
}

.meta_info_title{
    margin: 0 0 0.625rem 0;
    font-weight: 900;
}

.meta_info_description{
    margin: 0;
    opacity: 0.8;
}

@media screen and (max-width: 1350px) and (min-width: 600px) {
    .container{
        margin: 0;
    }
    .meta_info_description{
        margin-left: auto;
        margin-right: auto;
        max-width: 75%;
    }
}
  
  @media screen and (max-width: 600px) {
    .container{
        margin: 0;
        width: 90%;
    }
    .container:hover{
        margin: 0;
    }
    .number{
        min-width: 100px;
    }

    .meta_info_description{
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
        max-width: 75%;
    }
  }

