@use "../../styles/colors";

.wrapper{
  margin-bottom: 5rem;
}

.container {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.trending_header{
  display: flex;
  align-items: center;
  max-width: 91.5rem;
  margin: 0 auto;
}

.form_control{
  width: 15% !important;
  margin-left: auto !important;
}

.form_control > div > svg{
  color: white;
}
